<div id="loginScreen">
  <!-- <picture data-lazy="">
    <img media="(min-width: 990px)" srcset='https://pixboost.com/api/2/img/getAway/mountain.jpg/optimise?auth=MjYxOTIxMjA3OA__'/>
    <img media="(min-width: 640px)" srcset='https://pixboost.com/api/2/img/getAway/mountain.jpg/optimise?auth=MjYxOTIxMjA3OA__'/>
    <img  srcset='https://pixboost.com/api/2/img/getAway/mountain.jpg/optimise?auth=MjYxOTIxMjA3OA__'/>
</picture> -->
  <section id="loginBox" class="centered">
    <h2 class="loginText">Your <s>Destiny</s> Awaits! 
        <br> 
        <div class="justMe rotate destination">Destination</div>
    </h2>
    <div id="loginButtons">
        <button class="styledButton" mat-raised-button (click)="signIn('google')">Sign in with Google</button>
        <br>
        <button class="styledButton" mat-raised-button (click)="signIn('twitter')">Sign in with Twitter</button>
    </div>
  </section>
</div>
