<div id="loginScreen">
  <section id="loginBox" class="centered">
    <h2 class="loginText">Your <s>Destiny</s> Awaits! 
        <br> 
        <div class="justMe rotate destination">Destination</div>
    </h2>
    <div id="loginButtons">
        <button class="styledButton" mat-raised-button (click)="signIn('google')">Sign in with Google</button>
        <br>
        <button class="styledButton" mat-raised-button (click)="signIn('twitter')">Sign in with Twitter</button>
    </div>
  </section>
</div>
