#success {
  display: grid;
  grid-template-rows: 60vh;
  grid-template-areas:
    "image" "message";
  background-color: #d6d6d6;
  height: 100vh;
}

.styledButton.travel {
  width: 100%;
  padding: 1rem;
}

#imageContainer {
  grid-area: image;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 0px 10px 3px #888888;
}

@media (min-width: 600px) {
  #success {
    grid-template-columns: 50vw;
    grid-template-areas: "message image";
  }
  .successIcon{
    display: inline-block;
  }
  #imageContainer, .flightDetailSuccess{
    height: 100vh;
  }

}
@media (max-width: 600px) {
  .successIcon{
    display: none;
  }
}

.successImage {
  background-image: url("https://i.postimg.cc/65K1yCyj/hammock.jpg");
}
.successIcon {
  color: #f60;
  width: 15rem;
  height: 15rem;
  font-size: 15rem;
}

.flightDetailSuccess {
  grid-area: message;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
