  .justMe {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate{
  font-size: 2.5rem;
  transform: rotate(-10deg);
}
.destination{
  margin-top: -15px;
}
.styledButton{
  margin: .5rem 0;
  border: 2px solid #564F4BF3;
  border-radius: 15px;
  background-color: #D9D9D9D9;
  color: #1E1E1E;
  width: 100%;
}

.styledButton:hover{
  border: 2px solid #F60;
}

h2{
  margin-top: 1rem;
  color: #1E1E1E;
}
mat-form-field{
  margin:.5em;
}
@media (min-width: 1194px) {
  .medButton{
    width: 60%;
  }
  .fullLengthInput{
    width: 97%;
  }
  .medLengthInput {
    width: 70%;
  }
  .smLengthInput {
    width: 24%;
    align-items: right;
  }
}

@media (max-width: 1193px) {
  .fullLengthInput, .medLengthInput, .smLengthInput {
    width: 97%;
  }
}

.medButton{
  width: 60%;
}